<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览查询界面</title>
  <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.css">
  <style>
     .navbar{
        border-radius:0;
        }
     .bs-example {
         width: 1100px;
         margin: auto auto;
     }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand" >平行语料库管理系统</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">主页</a></li>
        <li><a href="#">登出</a></li>
       <li><a href="#">返回上一步</a></li>
      </ul>
        </div></div>
</nav>
<div style="margin-left:30px">
   <h2>当前语料库:陈怀宇</h2>
</div>
<div style="width: 1100px;height:35px;margin-left:auto;margin-right: auto;margin-top:40px">
<button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">添加平行语料</button>
</div>

<div style="width: 260px;height:35px;margin-left:218px;margin-top:-1px">

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true" ></i></span>
      <input type="text" class="form-control" placeholder="请输入你需要搜索的语料关键词" aria-describedby="basic-addon1">
    </div>
</div>
<div class="bs-example" data-example-id="bordered-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th style="width:400px">左(中文)</th>
          <th style="width: 400px">右(英文)</th>
          <th style="width: 140px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button>
          </td>
        </tr>
      <tr>
          <th scope="row">4</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>
               <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button>
          </td>
        </tr>
      <tr>
          <th scope="row">5</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td> <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button></td>
        </tr>
      <tr>
          <th scope="row">6</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td> <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button></td>
        </tr>
      <tr>
          <th scope="row">7</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td> <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button></td>
        </tr>
      <tr>
          <th scope="row">8</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td> <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button></td>
        </tr>
      <tr>
          <th scope="row">9</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td> <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button></td>
        </tr>
      <tr>
          <th scope="row">10</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td> <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">更新</button>
              <button type="button" class="btn btn-default btn-sm" style="width:50px;height:25px;background-color:#DCDCDC">删除</button></td>
        </tr>
      </tbody>
    </table>
  </div>



</body>
</html>