<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
   <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.css">
   <style>
       .navbar{
        border-radius:0;
        }
       .bs-example{
        width:1100px;
         margin:auto auto;
       }



       .window .w{
         width:280px;
         position: relative;
         height:110px;
         right: -600px;
         top:-50px;
         display: none;
       }
      .window:hover .w{
      display: block;
      }


   </style>
</head>
<body>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">


          <div class="navbar-brand" >平行语料库管理系统</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/manage/">主页</a></li>
        <li><a href="/login/">登出</a></li>
       <li><a href="/manage/">返回上一步</a></li>
      </ul>
        </div></div>
</nav>

        <div style="height:50px"></div>
 <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">

      <div class="panel-body" style="height: 200px">
        <p>
          <h3 style="text-align: center">欢迎使用平行语料管理系统</h3>
        <div style="width:658px;margin:auto;text-align: center">我们的平行语料管理系统有创建、删除、过滤、查重、统计分析、翻译评价等多种功能，我们有自己的数据库可以保存
        用户的语料数据，旨在提高用户们的体验，如果有任何使用过程中的建议，欢迎向我们反馈。</div>
        </p>
      </div>

      <!-- Table -->
      <table class="table">
        <tbody>
          <tr>
            <th>#</th>
            <th style="width: 180px">语料库名</th>
            <th style="width: 200px">新建时间</th>
            <th style="text-align: center">操作</th>
          </tr>
        </tbody>
        <tbody>

      </table>
    </div>
  </div>

    <nav aria-label="Page navigation" style="margin-top:-10px;margin-left: 650px">
            <ul class="pagination">
                <li id="pre">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

            </ul>
        </nav>

<div style="width: 1100px;height: 50px;margin-left:auto;margin-right:auto;margin-top:-17px"></div>
<div style="width:900px;margin-left:auto;margin-right:auto;margin-top:100px;height: 35px">
  <button type="button" class="btn btn-default " style="width: 200px;background-color:lightslategray">选择方式创建新语料库</button>
  <button type="button" class="btn btn-default " style="width: 150px;background-color:lightslategray;margin-left: 100px">合并语料库</button>
  <button type="button" class="btn btn-default " style="width: 150px;background-color:lightslategray;margin-left: 200px">拆分语料库</button>
</div>
<div style="width:840px;margin-left:auto;margin-right:auto;height:20px">
   <input type="radio" name="n1" >手动输入

</div>
<div style="width:840px;margin-left:auto;margin-right:auto;height:20px">
   <input type="radio" name="n1" >导入文件
</div>






  <script src="../static/js/jQuery.js"></script>
        <script src="../static/plugins/bootstrap/js/bootstrap.js"></script>
<script>
var json;
    var table = document.querySelector("table")
    //模拟后台响应的数据
    $(document).ready(function () {
    $.ajax({
        url: '/path/to/resource',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
            console.log(data);
            // 处理响应数据

            json = JSON.parse(data);

    var ul = document.querySelector(".pagination");
    var page_number = 3; //单页浏览的条数
    var Total_pages; //页数
    var liAll; //页码按钮下标为 1到length-2是页数 0和length-1为上一页和下一页
    var pre; //上一页
    var next; //下一页

    function clearTable() {
        table.innerHTML = `
        <tbody>
              <tr>
            <th>#</th>
            <th style="width: 180px">语料库名</th>
            <th style="width: 200px">新建时间</th>
            <th style="text-align: center">操作</th>
          </tr>
        </tbody>
        `
    }
    window.onload = function() {
        json.forEach(function(item, i) {
            var tbody = document.querySelector("tbody");
            if (i < page_number) {
                var tr = document.createElement("tr");
                tr.innerHTML = `
                            <td>${item.nid}</td>
                            <td>${item.name}</td>
                            <td>${item.time}</td>
                             <td>
              <a href="/browse/" ><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">浏览查询</button>
             </a>
                <a href="/correct/"><button type="button" class="btn btn-default " style="width: 160px;background-color:#DCDCDC">修改语料库名</button></a>
            <button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">删除语料库</button>
            <a href="#" class="window"><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">高级操作</button>
             <div class="w">
                <div class="panel panel-default">
                   <div class="panel-heading">
                   <h3 class="panel-title">高级操作</h3>
              </div>
             <div class="panel-body">包括过滤、去重、规范化、分析评价、翻译评价、对齐这些操作
      </div>
</div>
             </div></a>
            </td>
                            `
                tbody.appendChild(tr);
            }

        })

        var len = json.length; //总记录条数

        Total_pages = len % page_number == 0 ? len / page_number : len / page_number + 1; //页数

        for (var i = 1; i <= Total_pages; i++) {
            ul.innerHTML += `
            <li  id="${i}"><a href="#">${i}</a></li>
            `
        }

        ul.innerHTML += `
                <li id="next">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
        `;
        liAll = document.querySelectorAll("li");

        // console.log([liAll])
        var pagethis = 1; //当前是第几页
        for (var i = 1; i < liAll.length - 1; i++) {
            liAll[i].onclick = function() {
                for (var j = 1; j < liAll.length - 1; j++) {

                }
                pagethis = this.id; //获取当前是第几页

                // console.log(liAll[i])
                let start; //当页数据的起始下标
                let end; //当页数据的结束下标
                if (pagethis != 1) {
                    start = (pagethis - 1) * page_number;
                    end = start + page_number-1;
                    if (end > json.length - 1) { //如果当页数据结束值大于总数据条数下标的值则赋值为总数据条数最大下标值
                        end = json.length - 1;
                    }
                } else {
                    start = 0;
                    end = page_number - 1;
                }

                clearTable();
                var tbody = document.querySelector("tbody");
                json.forEach(function(item, i) {

                    if (i >= start && i <= end) {
                        var tr = document.createElement("tr");
                        tr.innerHTML = `
                           <td>${item.nid}</td>
                            <td>${item.name}</td>
                            <td>${item.time}</td>
                             <td>
              <a href="/browse/" ><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">浏览查询</button>
             </a>
                <a href="/correct/"><button type="button" class="btn btn-default " style="width: 160px;background-color:#DCDCDC">修改语料库名</button></a>
            <button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">删除语料库</button>
            <a href="#" class="window"><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">高级操作</button>
             <div class="w">
                <div class="panel panel-default">
                   <div class="panel-heading">
                   <h3 class="panel-title">高级操作</h3>
              </div>
             <div class="panel-body">包括过滤、去重、规范化、分析评价、翻译评价、对齐这些操作
      </div>
</div>
             </div></a>
            </td>
                            `
                        tbody.appendChild(tr);
                    }
                })

            }
        }
        pre = document.querySelector("#pre") //上一页
        next = document.querySelector("#next") //下一页
        pre.onclick = function() {

            if (pagethis != 1) { //当前页数不等于1时执行上一页
                pagethis--;
                for (var j = 1; j < liAll.length - 1; j++) {

                }

                let start;
                let end;
                if (pagethis != 1) {
                    start = (pagethis - 1) * page_number;
                    end = start + page_number-1;
                    if (end > json.length - 1) {
                        end = json.length - 1;
                    }
                } else {
                    start = 0;
                    end = page_number - 1;
                }

                clearTable();
                var tbody = document.querySelector("tbody");
                json.forEach(function(item, i) {
                    if (i >= start && i <= end) {
                        var tr = document.createElement("tr");
                        tr.innerHTML = `
                            <td>${item.nid}</td>
                            <td>${item.name}</td>
                            <td>${item.time}</td>
                             <td>
              <a href="/browse/" ><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">浏览查询</button>
             </a>
                <a href="/correct/"><button type="button" class="btn btn-default " style="width: 160px;background-color:#DCDCDC">修改语料库名</button></a>
            <button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">删除语料库</button>
            <a href="#" class="window"><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">高级操作</button>
             <div class="w">
                <div class="panel panel-default">
                   <div class="panel-heading">
                   <h3 class="panel-title">高级操作</h3>
              </div>
             <div class="panel-body">包括过滤、去重、规范化、分析评价、翻译评价、对齐这些操作
      </div>
</div>
             </div></a>
            </td>
                            `
                        console.log(tr)
                        tbody.appendChild(tr);
                    }
                })
            }
        }
        next.onclick = function() {
            // alert(pagethis)
            if (pagethis < liAll.length - 2) { //当前页数小于最后一页则执行下一页
                pagethis++;
                for (var j = 1; j < liAll.length - 1; j++) {

                }

                let start;
                let end;
                if (pagethis != 1) {
                    start = (pagethis - 1) * page_number;
                    end = start + page_number-1;
                    if (end > json.length - 1) {
                        end = json.length - 1;
                    }
                } else {
                    start = 0;
                    end = page_number - 1;
                }

                clearTable();
                var tbody = document.querySelector("tbody");
                json.forEach(function(item, i) {
                    if (i >= start && i <= end) {
                        var tr = document.createElement("tr");
                        tr.innerHTML = `
                            <td>${item.nid}</td>
                            <td>${item.name}</td>
                            <td>${item.time}</td>
                             <td>
              <a href="/browse/" ><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">浏览查询</button>
             </a>
                <a href="/correct/"><button type="button" class="btn btn-default " style="width: 160px;background-color:#DCDCDC">修改语料库名</button></a>
            <button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">删除语料库</button>
            <a href="#" class="window"><button type="button" class="btn btn-default " style="width: 150px;background-color:#DCDCDC">高级操作</button>
             <div class="w">
                <div class="panel panel-default">
                   <div class="panel-heading">
                   <h3 class="panel-title">高级操作</h3>
              </div>
             <div class="panel-body">包括过滤、去重、规范化、分析评价、翻译评价、对齐这些操作
      </div>
</div>
             </div></a>
            </td>
                            `
                        console.log(tr)
                        tbody.appendChild(tr);
                    }
                })
            }
        }

    }
</script>

  </body>
</html>