<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合并界面</title>
   <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.css">
   <style>
       .navbar{
        border-radius:0;
        }
       .bs-example{
        width:800px;
         margin-left:auto ;
           margin-right: auto;
           margin-top: 150px;

       }
       .header{
           margin-top: 120px;
           height: 40px;
       }
       .button{
           margin-top:100px;

           height:30px;
           width:90px;
           margin-left:680px ;

       }
       </style>
</head>
<body>
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">


          <div class="navbar-brand" >平行语料库管理系统</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/manage/">主页</a></li>
        <li><a href="/login/">登出</a></li>
       <li><a href="#">返回上一步</a></li>
      </ul>
        </div></div>
</nav>

   <div class="header">
         <div style="margin-left: 580px;font-size:15px;line-height:40px;float: left">合并后语料库名称</div>
         <div>
             <input type="text" placeholder="请输入" style="font-size:16px;width:180px;margin-top:7px ;line-height:20px;margin-left: 10px">
         </div>
     </div>


  <div class="bs-example" data-example-id="bordered-table" >
    <table class="table table-bordered" style="height: 180px">
      <thead>
        <tr>
          <th style="width:40px">#</th>
          <th style="width:320px;text-align: center">语料库名</th>
          <th style="width:320px;text-align: center ">创建时间</th>
          <th style="width:120px;text-align: center ">是否选择合并</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td style="text-align: center">Mark</td>
          <td style="text-align: center">Otto</td>
          <td>
              <input type="checkbox" style="margin-left: 40px">
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td style="text-align: center">Jacob</td>
          <td style="text-align: center">Thornton</td>
          <td>
               <input type="checkbox" style="margin-left: 40px">
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td style="text-align: center">Larry</td>
          <td style="text-align: center">the Bird</td>
          <td>
               <input type="checkbox" style="margin-left: 40px">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="...">
      <ul class="pagination pagination-lg" style="margin-left: 598px;margin-top:-20px">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>

   <div class="button">
<button type="button" class="btn btn-default " style="background-color:#DCDCDC">合并语料库</button>
   </div>
</body>
</html>